AIRTABLE_PAT={airtable api key}
BASE_ID={airtable user id}
AIRTABLE_PAT_2={patXXXXXXXXXXXXXX}
BASE_ID_2={appXXXXXXXXXXXXXX}
CONTACT_RECIPIENT={email to send to}
SMTP_USER={email to send from}
SMTP_PASS={email password}
ADMIN_TOKEN={password to refresh the cache using shortcut: /admin/refresh-cache?token=???}
PORT={open port to use}